{{> header}} 

<div class="container mt-3">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>3</td>
        <td>
          <a href="/boards/1" style="color: inherit; text-decoration: none;">            
            제목3
          </a>  
        </td>
        <td>내용3</td>
      </tr>
      <tr>
        <td>2</td>
        <td>
         <a href="/boards/1" style="color: inherit; text-decoration: none;">
            제목2
          </a>
        </td>
        <td>내용2</td>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <a href="/boards/1" style="color: inherit; text-decoration: none;">
            제목1
          </a>
        </td>
        <td>내용1</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>